# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion build folders
CMakeFiles/
cmake-build-debug/
cmake-build-release/
.idea/

# Ignore the build and lib dirs
build/

# Ignore any executables
bin/

# Igore any libraries
lib/

# Ignore any header files
include/
dali/common/config.h

# Ignore Mac specific files
*.DS_Store
